.nopadding, div {
    padding: 0 !important;
    margin: 0 !important;
}

* {
    font-family: Arial;
    color: #525252;
}

div.row:nth-child(2), div.row:nth-child(3), .backimg {
    background-image: url(../images/fond.png);
}


/*MOBILE*/

.container {
    padding: 0;
    width: 100%;
}

.navbar-header {
    background-color: #4A91D2;
}

.navbar-inverse .navbar-brand {
    color: white;
    text-transform: uppercase;
}

h1 {
    display: none;
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 0;
}

header #mainpic {
    width: 100%;
}

.nav li {
    margin-left: 2em;
}


/*.premier */

.premier {
    background-image: url(../images/fond.png);
}

h2 {
    margin-top: 0.5em;
    text-align: center;
}

.premier article {
    flex-wrap: wrap;
    padding: 1em;
    text-align: center;
}

article p {
    text-align: center;
}

.btn-default {
    border: none;
    border-radius: 5px;
    background: linear-gradient(#FF3D00, #FF0000);
    color: white;
}


/*.deuxieme*/

/*div.col-md-4:nth-child(1)>article:nth-child(1) {
    margin-top: 2em;
}*/

.deuxieme article {
    background-image: url("../images/fond-article.png");
    padding: 0.5em;
    margin: 0.25em 0;
    display: flex;
    justify-content: space-around;
}

.deuxieme img {
    padding: 1em;
}

.texte {
    padding: 1em;
    text-align: center;
}


/*MAIN*/

div.row:nth-child(4) {}

main {
    padding: 1em;
}

h4 {
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 1em;
}

.col-sm-12>main:nth-child(1)>p:nth-child(2) {
    text-transform: uppercase;
    font-size: 1em;
    color: #FF0000;
}

.col-sm-12>main:nth-child(1)>p:nth-child(4) {
    margin: 1em 0;
}

button.btn:nth-child(5) {
    border: none;
    border-radius: 5px;
    margin-bottom: 2em;
}


/*SIDEBAR 1 AND 2*/

.first, .second {
    padding: 1em;
}

h5 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.first p {
    text-align: left;
}

label {
    background: linear-gradient(red, yellow, green);
    color: white;
    padding: 0.5em;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 1em;
}

.first article {
    border-bottom: solid 0.5px rgb(148, 148, 148);
    border-bottom-width: thin;
    margin-bottom: 1em;
}

.second ul {
    padding: 0;
}

.second li {
    list-style: none;
    text-align: left;
    margin: 0.9em 0;
    border-bottom: solid 0.5px rgb(148, 148, 148);
}

.second a {
    color: black;
    font-weight: normal;
}

.first>article:nth-child(5) {
    border: none;
}


/*div pad and mar*/

h1 {
    text-align: center;
}


/*button */

.btn-default {}


/*sidebars*/

.second ul {
    display: block;
}

.col-sm-12>main:nth-child(1)>img:nth-child(3) {
    width: 100%
}


/*footer*/

.container > footer:nth-child(5) > section:nth-child(1) {
 background-image: url(../images/footer.png);
}

h6 {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

.rights {
    background-image: url(../images/bas-de-page.png);
    display: flex;
    justify-content: center;
}

#one {
    padding: 1em;
}

#one p {
    background-image: url(../images/citation.jpg);
    font-style: italic;
    padding: 4em;
}

#two {
    padding: 1em;
}

#two p, span {
    text-align: left;
}

#two p {
    font-size: 1em;
    font-weight: bold;
    border-top: solid 0.5px rgb(193, 193, 193);
    padding-top: 1em;
    margin-top: 1em;
}

#two>p:nth-child(2) {
    border: none;
}

#two span {
    font-size: 1em;
    font-style: italic;
}

#three {
    padding: 1em;
}

#three section1 {
    margin: auto;
}

button.btn:nth-child(3) {
    margin-top: 1em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#four {
    padding: 1em;
}

#four p {
    font-weight: bold;
}

.rights>p:nth-child(1) {
    margin-top: 1em;
    margin-bottom: 1em;
}

#sect1, #sect2 {
    text-align: center;
}


/*TABLETTE*/

@media  only screen and (min-width: 768px) {
    /*footer*/
    .deuxieme article {
        margin: 1em 4em;
    }
}


/*WEB*/

@media only screen and (min-width: 1100px) {
    body {
        width: 1200px;
        margin: auto;
        box-shadow: 0px 0px 5px 1px rgb(98, 227, 215);
    }
    header {
        padding: 2em;
        background-image: url(../images/header.png);
    }

    .navbar-inverse .navbar-nav > li > a {
	color: white;
    }

    #mainpic {
        margin-top: 0.5em;
        border: solid 1.5em white;
    }

    h1 {
        display: block;
        color: white;
        font-size: 3em;
        margin: 1.5em 0;
    }

    .navbar-brand {
        display: none;
    }

    .nav {
        background-color: #76CBFA;
        width: 100%;
        display: flex;
        justify-content: space-around;
        box-shadow: 0px 0px 0px 1px #FFFFFF;
    }

    .first > h5:nth-child(1), .second > h5:nth-child(1) {
        margin-top: 2em;
    }

    .deuxieme article {
    background-image: url("../images/fond-article.png");
    padding: 0.5em;
    margin: 0.25em 0;
    display: flex;
    justify-content: space-around;
    margin: 1.5em;
    }

}
